build/
mc-build/
cmake-build-debug/
.idea/
lcm-types/cheetahlcm
lcm-types/c_lcm_files
lcm-types/controllerlcm
lcm-types/interfacelcm
lcm-types/java
lcm-types/simulatorlcm
lcm-types/wincontrollerlcm
lcm-types/file_list.txt
lcm-types/cpp/*
lcm-types/lcmtypes/*
lcm-types/python/*
optimization_data
sim_data
test_data
planning_data
*.m~
algorithms/machine_learning/python_bridge/pycheetah.cpp
algorithms/machine_learning/python_bridge/pycheetah.py
*.pyc
algorithms/machine_learning/bridge_lcm_types/cpp/*
documentation/doxygen/latex
documentation/doxygen/html
